:root {
    --brown: #a88f82;
    --tan: #f5e1d5;
    --teal: #71a8a7;
    --lightteal: #d5f5f5;
    --light: #fffaf7;
  }
  
body{
    background-color: var(--teal);
    font-family: Arial, Helvetica, sans-serif;
}
.custom-button {
    background-color: var(--lightteal);
    color: rgb(63, 63, 63)
}
.custom-button:hover {
    background-color: var(--tan);
    color: black
}
